// Imports
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";

// header
@import "partials/header/header";
@import "partials/header/menu";
@import "partials/header/search";
@import "partials/header/login";

// search
@import "partials/search/search";
@import "partials/search/search-bg";
@import "partials/search/search-form";

// filter
@import "partials/filter/filter";
@import "partials/filter/filter-btn";
@import "partials/filter/filter-multi";
@import "partials/filter/filter-sort";

// footer
@import "partials/footer/footer";
@import "partials/footer/subscribe";
@import "partials/footer/footer__column";
@import "partials/footer/footer__links";
/* ==========================================================================
	General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-weight: $normal; 
  color: $white;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 22px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}