// Imports
@import "partials/libs";
@import "partials/vars";
@import "partials/fonts";
@import "partials/bg";
@import "partials/sprite-icons";


// header
@import "partials/header/header";
@import "partials/header/menu";
@import "partials/header/header-btn";
@import "partials/header/login-form";

// search
@import "partials/search/search";
@import "partials/search/search-bg";
@import "partials/search/search-form";

// filter
@import "partials/filter/filter";
@import "partials/filter/filter-btn";
@import "partials/filter/filter-multi";
@import "partials/filter/filter-sort";
@import "partials/filter/filter__dropdown";

// posts
@import "partials/posts/posts";
@import "partials/posts/post";
@import "partials/posts/post-rating";
@import "partials/posts/posts__link";

// offer
@import "partials/offer/offer";
@import "partials/offer/offer-slider";
@import "partials/offer/offer-slider__dots";

// footer
@import "partials/footer/footer";
@import "partials/footer/subscribe";
@import "partials/footer/footer__column";
@import "partials/footer/footer__links";
/* ==========================================================================
	General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-weight: $normal; 
  color: $white;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 22px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.container__posts {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}

button {
	border: none;
	cursor: pointer;
	color: $white;
	transition: background .3s;
}

.btn {
	position: relative;
	box-shadow: 0 3px #c1412e;
	background: $red;
	border-radius: 30px;
	text-transform: uppercase;
	transition: top .3s;

	&:hover {
		top: 3px;
		box-shadow: none;
	}
}

::placeholder {
	color: $white;
}