.search-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 480px;
	margin: 0 auto;

	&__dropdowns {
		display: flex;
		justify-content: space-between;
		width: 100%;
	
		@media (max-width: 530px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__select,
	&__input {
		background: transparent;
		color: $white;
		font-size: 17px;
		border-radius: 30px;
		height: 57px;
		border: 1px solid #585553;
		padding: 0 30px;
		outline: none;
		margin-bottom: 20px;
	
		@media (max-width: 530px) {
			font-size: 15px;
			padding: 0 18px;
			height: 45px;
		}
	}

	&__select {
		width: 222px;
	}

	&__option {
		background: #E94E38;
		color: #fff;
	}

	&__input {
		width: 100%;

		@media (max-width: 530px) {
			width: 222px;
		}
	}

	&__btn {
		width: 140px;
		height: 60px;
		font-size: 18px;
	
		@media (max-width: 530px) {
			width: 222px;
			height: 50px;
			font-size: 15px;
			height: 43px;
		}
	}
}


