.filer-multi {
	display: flex;
	align-items: center;


	// .filer-multi__title

	&__title {
		text-transform: uppercase;

		@media (max-width: 500px) {
			font-size: 13px;
		}
	}

	// .filer-multi__list

	&__list {
		display: flex;
	}

	// .filer-multi__item

	&__item {
	}

	// .filer-multi__link

	&__link {
		display: block;
		margin-left: 10px;
		height: 40px;
		width: 40px;
		border-radius: 100%;
		background-color: $icon-color;
		line-height: 45px;
		text-align: center;
		transition: background-color .3s;

		@media (max-width: 500px) {
			height: 30px;
			width: 30px;
			line-height: 35px;
		}
	}
}
.filer-multi__link {

	&.active {
		background-color: $green;
	}
	
	&--green:hover {
		background-color: $green;
	}
}
.filer-multi__link--orange:hover {
	background-color: $orange;
}
.filer-multi__link--violet:hover {
	background-color: $violet;
}
.filer-multi__link--blue:hover {
	background-color: $blue;
}
.filer-multi__link--pink:hover {
	background-color: $pink;
}