.filter-dropdown {

	&__inner {
		display: flex;
		justify-content: center;
		margin: 0 -5px;
	
		@media (max-width: 500px) {
			font-size: 13px;
		}
	}
	

	&__select, 
	&__btn {
		background: rgba($white, 0.2);
		color: #cad2d3;
		font-size: 12px;
		border-radius: 30px;
		height: 35px;
		border: 1px solid #cad2d3;
		text-transform: uppercase;
		padding-left: 10px;
		outline: none;
		margin: 0 5px;
	}

	&__btn::after {
		content: "\f002";
		font-family: 'icomoon';
		margin: 0 8px;
	}

	&__option {
		background: #E94E38;
		color: #fff;
	}

}
