.education-color-bg, .education-gray-bg, .hotels-color-bg, .hotels-gray-bg, .music-color-bg, 
.music-gray-bg, .bus-color-bg, .bus-gray-bg, .community-color-bg, .community-gray-bg, 
.hotels-white-md, .education-color-sm, .education-gray-sm, .education-white-sm, .music-white-md, 
.bus-white-md, .hotel-gray-sm, .hotels-color-sm, .hotels-white-sm, .music-color-sm, 
.music-gray-sm, .music-white-sm, .bus-color-sm, .bus-gray-sm, .bus-white-sm, 
.community-color-sm, .community-gray-sm, .community-white-sm
{ display: inline-block; background: url('../../img/sprite-icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.education-color-bg { background-position: -0px -0px; width: 50px; height: 32px; }
.education-gray-bg { background-position: -0px -32px; width: 50px; height: 32px; }
.hotels-color-bg { background-position: -0px -64px; width: 50px; height: 40px; }
.hotels-gray-bg { background-position: -0px -104px; width: 50px; height: 40px; }
.music-color-bg { background-position: -0px -144px; width: 45px; height: 45px; }
.music-gray-bg { background-position: -0px -189px; width: 45px; height: 45px; }
.bus-color-bg { background-position: -0px -234px; width: 43px; height: 46px; }
.bus-gray-bg { background-position: -0px -280px; width: 43px; height: 46px; }
.community-color-bg { background-position: -0px -326px; width: 38px; height: 45px; }
.community-gray-bg { background-position: -0px -371px; width: 38px; height: 45px; }
.hotels-white-md { background-position: -0px -416px; width: 30px; height: 23px; }
.education-color-sm { background-position: -0px -439px; width: 29px; height: 19px; }
.education-gray-sm { background-position: -0px -458px; width: 29px; height: 19px; }
.education-white-sm { background-position: -0px -477px; width: 29px; height: 19px; }
.music-white-md { background-position: -0px -496px; width: 26px; height: 26px; }
.bus-white-md { background-position: -26px -496px; width: 24px; height: 26px; }
.hotel-gray-sm { background-position: -0px -522px; width: 24px; height: 19px; }
.hotels-color-sm { background-position: -24px -522px; width: 24px; height: 19px; }
.hotels-white-sm { background-position: -0px -541px; width: 24px; height: 19px; }
.music-color-sm { background-position: -30px -416px; width: 19px; height: 19px; }
.music-gray-sm { background-position: -30px -435px; width: 19px; height: 19px; }
.music-white-sm { background-position: -29px -454px; width: 19px; height: 19px; }
.bus-color-sm { background-position: -29px -473px; width: 18px; height: 19px; }
.bus-gray-sm { background-position: -24px -541px; width: 18px; height: 19px; }
.bus-white-sm { background-position: -0px -560px; width: 18px; height: 19px; }
.community-color-sm { background-position: -18px -560px; width: 16px; height: 19px; }
.community-gray-sm { background-position: -34px -560px; width: 16px; height: 19px; }
.community-white-sm { background-position: -0px -579px; width: 16px; height: 19px; }