// Colours partial
$white: #fff;
$black: #000;
$red: #E94E38;
$light-gray: #E2DEE0;
$font-color: #96a6a7;
$icon-color: #B6C0C1;
$green: #1BAF5D;
$orange: #F19E1F;
$violet: #88499C;
$blue: #1e90ff;
$pink: #ff4757;

// Fonts
$font-family: "gotham-medium";
$gotham-bold: "gotham-bold", sans-serif;
$gotham-book: "gotham-book";

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Sizes
$font-size-h1:30px;
$font-size-h2:40px;
$font-size-h3:24px;
$font-size-h4:18px;
$font-size-h5:15px;
$font-size-p: 15px;
$nav-font-size: 18px;
$blog-post-title: 11px;

// Responsive Sizes
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 568px;
$bp-medium: 640px;
$bp-medium-2: 900px;
$bp-large: 1060px;