.offer-slider {
	max-width: 800px;
	margin: 0 auto;
	color: #566375;

	// .offer-slider__title

	&__title {
		text-transform: capitalize;
		font-size: 24px;
		margin-bottom: 45px;

		@media (max-width: 500px) {
			margin-bottom: 30px;
		}

		@media (max-width: 650px) {
			margin-bottom: 35px;
		}

		&--green {
			color: $green;
		}
		&--orange {
			color: $orange;
		}
		&--pink {
			color: $pink;
		}
		&--violet {
			color: $violet;
		}
		&--blue {
			color: $blue;
		}
	}

	&__item-inner {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;

		@media (max-width: 650px) {
			flex-direction: column;
		}
	}

	// .offer-slider__item-column

	&__item-column {
		display: flex;
		text-align: left;
		padding: 0 15px;
		flex-basis: 50%;

		@media (max-width: 650px) {
			margin-bottom: 30px;
		}
	}

	// .offer-slider__item-icon

	&__item-icon .icon {
		height: 60px;
		width: 60px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 35px;
		color: $white;
		font-size: 25px;

		@media (max-width: 500px) {
			height: 40px;
			width: 40px;
			margin-right: 25px;
			font-size: 18px;
		}

		&--green {
			background: $green;
		}
		&--orange {
			background: $orange;
		}
		&--pink {
			background: $pink;
		}
		&--violet {
			background: $violet;
		}
		&--blue {
			background: $blue;
		}
	}

	// .offer-slider__item-text

	&__item-text {
		line-height: 24px;

		@media (max-width: 650px) {
			line-height: 20px;
			font-size: 15px;
		}
	}
}