.offer-slider {

	// .offer-slider__dots

	&__dots {
		margin: 0 auto;
		max-width: 800px;
		margin-bottom: 35px;

		@media (max-width: 500px) {
			margin-bottom: 30px;
		}
	}

	// .offer-slider__dots-item

	&__dots-item {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		border: 3px solid #9dacad;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		
		@media (max-width: 850px) {
			width: 80px;
			height: 80px;
		}

		@media (max-width: 500px) {
			width: 40px;
			height: 40px;
		}
	}

	&__dots-item::before {
		content: "";
		height: 3px;
		width: 50px;
		left: -55px;
		position: absolute;
		background-color: #e2dee0;
		display: inline-block;

		@media (max-width: 850px) {
			width: 45px;
			left: -65px;
		}

		@media (max-width: 820px) {
			content: none;
		}
	}
}

.offer-slider__dots {
	.slick-current {
		.offer-slider__dots-item {

			&--green {
				border-color: $green;
			}
			&--orange {
				border-color: $orange;
			}
			&--pink {
				border-color: $pink;
			}
			&--violet {
				border-color: $violet;
			}
			&--blue {
				border-color: $blue;
			}
		
		}
	}
}

.offer-slider__dots {
	.slick-current {

		.hotels-big {
			background-position: -0px -104px; width: 50px; height: 40px;
		}

		.education-big {
			background-position: -0px -32px; width: 50px; height: 32px;
		}

		.community-big {
			background-position: -0px -371px; width: 38px; height: 45px;
		}

		.music-big {
			background-position: -0px -189px; width: 45px; height: 45px;
		}

		.bus-big {
			background-position: -0px -280px; width: 43px; height: 46px;
		}
	}
}