.header-btn {
	display: flex;
	position: relataive;
	z-index: 5;
	height: 100%;

	@media (max-width: 1000px) {
		margin-right: 45px;
	}

	@media (max-width: 530px) {
		display: none;
	}

	&__search-input {
		position: absolute;
		background: $red;
		border: none;
		/* padding: 5px 20px; */
		outline: none;
		color: $white;
		height: 100%;
		top: 0;
		width: 0;
		right: 165px;
		transition: width .3s;

		&.active {
			width: 250px;
			padding: 5px 20px;
		}
	}
	// .header-btn__search

	&__search {
		position: relative;
		background: $light-gray;
		width: 75px;
		outline: none;

		&.active {
			background: #333333;
		}
	
		&:hover {
			background: $font-color;
		}
	}

	// .header-btn__icon

	&__icon {
		color: $white;
		font-size: 22px;
		
		@media (max-width: 1366px) {
			font-size: 17px;
		}
	}

	// .header-btn__login

	&__login {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $red;
		text-transform: uppercase;
		font-size: 19px;
		padding: 0 10px;
		cursor: pointer;
	
		@media (max-width: 1366px) {
			font-size: 17px;
		}
	
		&:hover {
			background: #DB1A00;
		}

	}

	&__icon-login {
		margin-right: 10px;
	}
}
