@import "../vars";

.form__search {
	background: $light-gray;
	width: 75px;
	height: 75px;

	&:hover {
		background: $font-color;
	}
}



i {
	color: $white;
	font-size: 22px;
}

button {
	border: none;
	cursor: pointer;
	color: $white;
	transition: background .3s;
}

form {
	display: flex;
}