.footer {

	// .footer__title

	&__title {
		text-transform: capitalize;
		margin-bottom: 25px;
		border-bottom: 1px solid #595551;
	}

	// .footer__list

	&__list {

		@media (max-width: 550px) {
			margin-bottom: 25px;
		}
	}

	// .footer__item

	&__item:not(:last-child) {
		margin-bottom: 10px;
	}

	// .footer__link

	&__link {
		color: #c0bebc;

		&:hover {
			color: $red;
		}
	}
}
