.footer-follow {

	// .footer-follow__list

	&__list {
		display: flex;
	}

	// .footer-follow__item

	&__item:not(:last-child) {
		margin-right: 20px;
		
	}

	// .footer-follow__link

	&__link i {
		font-size: 35px;

		&:hover {
			color: $red;
		}
	}

	&__copyright {
		padding-top: 60px;
	}
}
