.footer {
	height: 500px;

	@media (max-width: 500px) {
		height: 550px;
	}
	// .footer__overlay

	&__overlay {
	}

	// .footer__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -15px;

		@media (max-width: 550px) {
			justify-content: space-around;
		}
	}

	// .footer__column
	&__column {
		padding: 0 15px;
	}
}
