.footer-follow {

	// .footer-follow__list

	&__list {
		display: flex;
	}

	// .footer-follow__item

	&__item:not(:last-child) {
		margin-right: 20px;
		
	}

	// .footer-follow__link

	&__link i {
		font-size: 35px;
		color: $white;

		&:hover {
			color: $red;
		}
	}

	&__copyright {
		padding-top: 60px;

		@media (max-width: 550px) {
			padding-top: 30px;
			font-size: 13px;
		}

		@media (max-width: 490px) {
			padding-top: 15px;
		}
	}
}
