.subscribe {

	// .subscribe__title

	&__title {
		text-align: center;
		font-size: 24px;
		padding-top: 60px;
		margin-bottom: 45px;

		@media (max-width: 550px) {
			margin-bottom: 30px;
			font-size: 19px;
			padding-top: 40px;
		}
	}

	// .subscribe__label
	&__label {
		display: flex;
		align-items: center;
		margin: 0 auto;
		background: rgba($white, 0.1);
		border-radius: 35px;
		max-width: 550px;
		height: 60px;
		border: 1px solid #646569;
		outline: none;
		padding-left: 30px;

		@media (max-width: 550px) {
			height: 50px;
			padding-left: 0;
		}
		
	}

	&__icon {
		margin-left: 10px;
	}
	// .subscribe__input

	&__input {
		background: none;
		border: none;
		height: 60px;
		padding: 0 15px;
		margin-bottom: 0;
		width: 76%;
		outline: none;
		color: $white;

		@media (max-width: 550px) {
			height: 50px;
			font-size: 14px;
			padding: 0 10px;
			min-width: 150px;
		}
	}

	// .subscribe__btn

	&__btn {
		height: 48px;
		width: 120px;
		font-size: 14px;
		margin-right: 4px;
		margin-top: -3px;
		align-self: center;

		@media (max-width: 550px) {
			height: 40px;
			font-size: 12px;
		}
	}
}


.line {
	margin-bottom: 55px;
	padding-bottom: 40px;
	border-bottom: 1px solid #4a4a48;

	@media (max-width: 550px) {
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	@media (max-width: 500px) {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}